// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Font-Awesome
@import "node_modules/font-awesome/scss/font-awesome";

// Ionicons
@import "node_modules/ionicons/dist/css/ionicons";

// AdminLTE
@import "node_modules/admin-lte/dist/css/AdminLTE";
@import "node_modules/admin-lte/dist/css/skins/_all-skins";
